<div class="works-area">
  <% @works.each do |work| %>
    <%= render partial: "works/shared/work", locals: {work: work} %>
  <% end %>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag "works/index" %>
<% end %>
