<header>
  <div class="left-menu">
     <%= link_to "Anime Review", "#",class: "logo" %>
  </div>
  <div class="right-menu">
    <%= link_to "ログイン", "#"%>
    <%= link_to "ユーザー情報", "#"%>
    <%= link_to "マイページ", "#"%>
  </div>
</header>