<header id="header">
  <div class="left-menu">
     <%= link_to "Anime Review", "#",class: "logo font-cool" %>
  </div>
  <div id="right-menu">
    <% if logged_in? %>
      <%= render "shared/header_login" %>
    <% else %>
      <%= render "shared/header_logout" %>
    <% end %>
  </div>
</header>