<header id="header">
  <div class="left-menu">
     <%= link_to "Anime Review", "#",class: "logo font-cool" %>
  </div>
  <div id="right-menu">
    <% if logged_in? %>
      <button class="humberger" data-controller="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    <% else %>
      <%= link_to "ログイン", "#" %>
    <% end %>
  </div>
</header>