<div id="work-rate" class="work-rate">
  <div class="rate-aria">
    <span class="rate-title">感動</span>
    <div class="rate-score">
      <span class="min-value">0</span>
      <span class="rate-range"></span>
      <span class="current-value">100</span>
    </div>
  </div>
  <div class="rate-aria">
    <span class="rate-title">笑い</span>
    <div class="rate-score">
      <span class="min-value">0</span>
      <span class="rate-range"></span>
      <span class="current-value">100</span>
    </div>
  </div>
  <div class="rate-aria">
    <span class="rate-title">恋愛</span>
    <div class="rate-score">
      <span class="min-value">0</span>
      <span class="rate-range"></span>
      <span class="current-value">100</span>
    </div>
  </div>
  <div class="rate-aria">
    <span class="rate-title">興奮</span>
    <div class="rate-score">
      <span class="min-value">0</span>
      <span class="rate-range"></span>
      <span class="current-value">100</span>
    </div>
  </div>
  <div class="rate-aria">
    <span class="rate-title">奥深さ</span>
    <div class="rate-score">
      <span class="min-value">0</span>
      <span class="rate-range"></span>
      <span class="current-value">100</span>
    </div>
  </div>
</div>