<%= turbo_stream.replace "ranking-title", "<h1 class='ranking-title' id='ranking-title'>感動ランキング</h1>" %>
<%= turbo_stream.replace "works-1", partial: "shared/ranking", locals: { works: @works, work_count: @work_count, next_page: @next_page} %>
<%= turbo_stream.replace "change-ranking", partial: "shared/change_ranking", locals: { ranking: @ranking } %>