<div class="work-rate-index">
  <h1 class="ranking-title" id="ranking-title"><%= @ranking_title %></h1>
  <%= render partial: "shared/change_ranking", locals: {ranking: @ranking} %>
  <div class="works">
    <%= render partial: "shared/ranking", locals: { works: @works, work_count: @work_count, next_page: @next_page}%>
  </div>
</div>
<% content_for :css do %>
  <%= stylesheet_link_tag "workrates/index" %>
<% end %>