@font-face {
  font-family: "FontCool";
  src: url("Foglihtenno04-aM2E.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#global-container {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.font-cool {
  font-family: "FontCool";
}

header {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .left-menu {
    margin-left: 2rem;
  }
  & #right-menu {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 0 2rem;
    margin-right: 7rem;
  }
  & a {
    color: rgb(219, 219, 115);
    text-decoration: none;
  }
}

.logo {
  font-family: "FontCool";
}

#flash {
  position: absolute;
  width: 15rem;
  height: 3.5rem;
  left: 37rem;
  top: 7rem;
  z-index: 100;
  &.fade-out {
    animation: fadeOut 1.5s ease;
    opacity: 0;
  }
  & > p {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  &.success {
    background-color: green;
    color: white;
  }
  &.danger {
    background-color: black;
    color: red;
  }
}

#container {
  min-height: 50rem;
  background-color: red;
  position: relative;
}

footer {
  height: 20rem;
  background-color: black;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
