@use "../global/mq" as *;
@use "../global/animation" as *;
@use "../global/color" as *;
@font-face {
  font-family: "FontCool";
  src: url("Foglihtenno04-aM2E.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#global-container {
  max-width: 100%;
  min-width: 100%;
  position: relative;
  box-sizing: border-box;
}

.font-cool {
  font-family: "FontCool";
}

header {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  @include mq(lg) {
    height: 8rem;
  }
  & .left-menu {
    font-size: 1.3rem;
    margin-left: 2rem;
    @include mq(lg) {
      font-size: 1.8rem;
    }
  }
  & #right-menu {
    display: flex;
    justify-content: space-between;
    gap: 0 2rem;
    margin-right: 2rem;
    & .header-link {
      display: none;
      @include mq(lg) {
        display: inline-block;
      }
    }
    & .humberger {
      @include mq(lg) {
        display: none;
      }
    }
    & span {
      background-color: red;
      display: block;
      width: 45px;
      height: 4px;
      margin-bottom: 7px;
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  & a {
    color: $gold;
    text-decoration: none;
  }
}

.logo {
  font-family: "FontCool";
}

#flash {
  position: absolute;
  height: 3.9rem;
  left: 50%;
  top: 6%;
  width: 15rem;
  z-index: 1000;
  transform: translateX(-50%);
  pointer-events: none;
  &.fade-out {
    @include animation(
      $name: fadeOut,
      $duration: 1.5s,
      $itterate: 1,
      $fill-mode: forwards
    );
  }
  & > p {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  &.success {
    background-color: green;
    color: white;
  }
  &.danger {
    background-color: black;
    color: red;
  }
}

.content {
  min-height: 40rem;
  background-color: red;
  position: relative;
}

footer {
  height: 20rem;
  background-color: black;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: -200;
}

.mobile-menu {
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transform-origin: right;
  transition: all 1.5s ease;
  z-index: 3;
  overflow: hidden;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 10rem;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    background-color: black;
    color: $gold;
    transition: all 1.5s ease;
    transform-origin: right;
    font-size: 2rem;
  }
  &__title {
    min-width: 11rem;
    height: 3rem;
    transform: translateX(100%);
    transition: all 1.5s ease;
    letter-spacing: -0.2rem;
  }
  &__main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 20rem;
    font-size: 1.4rem;
  }
  &__list {
    position: relative;
    width: 260px;
    transform: translateX(-100%);
    list-style: none;
    @for $i from 0 through 3 {
      &:nth-child(#{$i + 1}) {
        transition: transform 1s ease calc(1.3s + (0.2s * $i));
      }
    }
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all 2s ease-in-out;
      background-color: #000000;
      z-index: 1;
      opacity: 0;
    }
    &:hover {
      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem 0 1rem 3rem;
    color: black;
    position: relative;
    box-sizing: content-box;
    transition: color 2.5s ease;
    z-index: 2;
    &:hover {
      color: $gold;
    }
  }
}

#global-container.menu-open {
  & .mobile-menu__cover {
    opacity: 1;
    z-index: 2;
    @include mq(lg) {
      display: none;
    }
  }
  & .mobile-menu {
    @include mq(lg) {
      display: none;
    }
    width: 52%;
    &__logo {
      height: 10rem;
    }
    &__title {
      transform: none;
    }
    &__list {
      transform: translateX(0);
    }
  }
}
